<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.exam.dao.BoardDAO">

<!-- 전체 글 조회 -->
<select id="listAll" resultType="Board">
        select boardnum, title, memberid from market_board
</select>

<!-- 판매글 저장 -->
<insert id="insertBoard" parameterType="Board">
        insert into market_board (
                boardnum
                , memberid
                , title
                , content
                , category
        )
        values (
                market_board_seq.nextval
                , #{memberid}
                , #{title}
                , #{content}
                , #{category}
        )
</insert>



</mapper>
