<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <title>market</title>
        <script th:src="@{/js/jquery-3.6.0.js}"></script>
        <script th:src="@{/js/info.js}"></script>
    </head>
    <body>
        <h1>[ 판매 정보 ]</h1>
        <table th:each="b : ${board}">
            <tr>
                <th>작성자</th>
                <td th:text="${b.memberid}"></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td th:text="${b.inputdate}"></td>
            </tr>
            <tr>
                <th>제목</th>
                <td th:text="${b.title}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                    <pre th:text="${b.content}"></pre>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div th:if="${#authentication.name} == ${b.memberid}">
                        <a th:href="|javascript:deleteBoard(${b.boardnum})|">삭제</a>
                    </div>
                    <div th:unless="${#authentication.name} == ${b.memberid}">
                        <a th:href="|javascript:buyItem(${b.boardnum})|">구매하기</a>
                    </div>
                </td>
            </tr>
        </table>

        <div>
            <form th:action="@{/board/writeReply}" method="post" onsubmit="return validation()">
                <input type="text" name="replytext" id="replytext" />
                <input type="hidden" name="boardnum" th:value="${board.boardnum}" />
                <input type="submit" value="확인" />
            </form>
        </div>

        <table class="reply">
            <tr th:each="r : ${reply}">
                <td th:text="${r.memberid}"></td>
                <td th:text="${r.replytext}"></td>
                <td th:text="${r.inputdate}"></td>
            </tr>
        </table>
    </body>
</html>
