<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <title>market</title>
        <script th:src="@{/js/jquery-3.6.0.js}"></script>
    </head>
    <body>
        <h1>[ 판매 정보 ]</h1>
        <table>
            <tr>
                <td>작성자</td>
                <td></td>
            </tr>
            <tr>
                <td>작성일</td>
                <td></td>
            </tr>
            <tr>
                <td>제목</td>
                <td></td>
            </tr>
            <tr>
                <td>내용</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div sec:authorize="isAuthenticated"><a href="">삭제</a></div>
                    <div sec:authorize="not isAuthenticated"><a href="">구매하기</a></div>
                </td>
            </tr>
        </table>
    </body>
</html>
