<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <title>market</title>
        <script th:src="@{/js/jquery-3.6.0.js}"></script>
        <script>
            function check() {
                let t = document.getElementById("title").value;
                let c = document.getElementById("content").value;

                if (t.length < 5) {
                    alert("제목을 입력하세요.");
                    return false;
                } else if (c.length < 5) {
                    alert("내용을 입력하세요.");
                    return false;
                }
                return true;
            }
        </script>
    </head>
    <body>
        <h1>[ 판매글 등록 ]</h1>
        <form th:action="@{/board/insert}" method="post" onsubmit="return check()">
            <table>
                <tr>
                    <td>카테고리</td>
                    <td>
                        <select name="category">
                            <option value="computer">컴퓨터</option>
                            <option value="camera">카메라</option>
                            <option value="car">자동차</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td><input type="text" name="title" id="title" /></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td><textarea name="content" id="content" cols="30" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="저장" /></td>
                </tr>
            </table>
        </form>
    </body>
</html>
