<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <title>market</title>
        <link rel="stylesheet" th:href="@{/css/search.css}" />
        <script th:src="@{/js/jquery-3.6.0.js}"></script>
        <script th:src="@{/js/search.js}"></script>
        <script>
            $(document).ready(function () {
                init();
                $("#category").change(searchCategory);
                $("#keyword").keydown(searchWord);
            });
        </script>
    </head>
    <body>
        <h1>[ 판매 상품 검색 ]</h1>
        <p><a th:href="@{/}">홈으로</a></p>
        <select name="category" id="category">
            <option value="all">전체</option>
            <option value="computer">컴퓨터 및 주변기기</option>
            <option value="camera">카메라</option>
            <option value="car">자동차 용품</option>
        </select>
        <input type="text" id="keyword" />

        <table id="contentsArea"></table>
    </body>
</html>
